<!DOCTYPE html>
<html>
<head>
  <title>Sonicnote</title>
   <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width, height=device-height">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
